/****************************
Simple grid with Flexbox
****************************/
.flex-grid{
    display: flex;
}

.col{
    flex: 1;
}


/****************************
For centering stuff
****************************/
.center{
    text-align: center;
}

.centerCol{
    margin: auto;
}
/*******************************
error message
*******************************/
.err{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.err h1, img{
    display: inline;
}

.more{
    flex-direction: row;
    height: 100%;
}
